@keyframes turnred {
    from {
        background-color: white;
        color: black;
    }
    to {
        background-color: red;
        color: white;
    }
}
input[type=file] {
    display: none;
    /*opacity: 0;*/
    position: absolute;
}
iframe {
    border: none;
}
label {
    display: inline-block;
}
label.file-btn {
    position: absolute;
    background-color: skyblue;
    text-align: center;
    padding: 0.15em;
    width: 157px;
    top: 7px;
    left: calc(50% - 78.5px);
}
body {
    margin-top: 10px;
}
.container {
    /*height: 100%;*/
    width: 450px;
    border-width: 2px;
    padding: 10px;
}
.control {
    position: absolute;
    width: 55px;
    height: 55px;
    display: inline-block;
}
.left-top {
    left: 0px;
    top: 0px;
}
.right-top {
    right: 0px;
    top: 0px;
}
.left-bottom {
    left: 0px;
    bottom: 0px;
}
.right-bottom {
    right: 0px;
    bottom: 0px;
}
label.icon-btn {
    font-size: 1.3em;
    width: 1.3em;
    margin-right: 5px;
}
#main {
    background-color: white;
    width: 100%;
    height: 100%;
}
#about {
    width: 200px;
    height: 150px;
}
#about iframe {
    width: 195px;
    height: 125px;
}
#help {
    width: 400px;
    height: 300px;
}
#help iframe {
    width: 395px;
    height: 275px;
}
.large {
    font-size: 1.3em;
}
.regular {
    font-size: 0.8em;
}
.small {
    font-size: 0.6em;
}
.window {
    position: absolute;
    background-color: white;
    padding: 10px;
    display: none;
    box-shadow: 0px 0px 7.5px gray;
}
.toolbar {
    font-size: 1em;
    position: absolute;
    padding: 5px;
    left: 0px;
    top: 0px;
    height: 2em;
    width: 100%;
}
.toolbar-btn {
    font-size: 1em;
    position: absolute;
    right: 15px;
    height: 1em;
    width: 20px;
    text-align: center;
    margin-top: 1px;
}
.close:hover {
    animation-name: turnred;
    animation-duration: 0.3s;
    animation-fill-mode: forwards;
    /*background-color: red;
    color: white;*/
}
@media only screen and (max-width: 600px) {
    .container {
        width: 350px;
        font-size: 0.8em;
    }
    label.file-btn {
        width: 100px;
        left: calc(50% - 50px);
    }
    .window {
        padding: 3px;
    }
    .toolbar {
        font-size: 0.7em;
        height: 1.3em;
        padding: 3px;
    }
    .toolbar-btn {
        font-size: 0.7em;
        height: 0.75em;
        right: 10px;
    }
    #about {
        width: 150px;
        height: 100px;
    }
    #about iframe {
        width: 145px;
        height: 75px;
    }
    #help {
        width: 300px;
        height: 200px;
    }
    #help iframe {
        width: 295px;
        height: 175px;
    }
}