input[type=file] {
    display: none;
    /*opacity: 0;*/
    position: absolute;
}
iframe {
    border: none;
}
label {
    display: inline-block;
}
label.file-btn {
    position: absolute;
    background-color: skyblue;
    text-align: center;
    padding: 0.15em;
    width: 157px;
    top: 7px;
    left: calc(50% - 78.5px);
}
body {
    margin-top: 10px;
    height: 100%;
}
.container {
    position:absolute;
    bottom: 20px;
    width: 80%;
    border-width: 1px;
    border-color: skyblue;
    border-radius: 10px;
    transition: all 0.5s;
    padding: 10px;
}
.container:hover {
    box-shadow: 0px 7px 3.5px gray;
}
.control {
    position: absolute;
    width: 55px;
    height: 55px;
    display: inline-block;
}
.left-top {
    left: 0px;
    top: 0px;
}
.right-top {
    right: 0px;
    top: 0px;
}
.left-bottom {
    left: 0px;
    bottom: 0px;
}
.right-bottom {
    right: 0px;
    bottom: 0px;
}
label.icon-btn {
    font-size: 1.3em;
    width: 1.3em;
    margin-right: 5px;
}
#main {
    background-color: white;
    width: 100%;
    height: 100%;
    touch-action: none;
}
#about {
    width: 200px;
    height: 150px;
}
#about iframe {
    width: 195px;
    height: 125px;
}
#help {
    width: 400px;
    height: 300px;
}
#help iframe {
    width: 395px;
    height: 275px;
}
.large {
    font-size: 1.3em;
}
.regular {
    font-size: 0.8em;
}
.small {
    font-size: 0.6em;
}
.window {
    position: absolute;
    background-color: white;
    padding: 10px;
    display: none;
    box-shadow: 0px 0px 7.5px gray;
    background-color: #fafafa;
}
.toolbar {
    font-size: 1em;
    position: absolute;
    padding: 3px 5px 5px 5px;
    left: 0px;
    top: 0px;
    height: 1em;
    width: calc(100% - 10px);
    background-color: white;
}
.toolbar-btn {
    font-size: 1em;
    position: absolute;
    right: 10px;
    height: 1em;
    width: 20px;
    text-align: center;
    margin-top: 1px;
}
.close {
    transition: all 0.3s;
}
.close:hover {
    background-color: red;
    color: white;
}
@media only screen and (max-width: 600px) {
    .container {
        width: 90%;
        font-size: 0.8em;
    }
    .container.icon-btn {
        width: 1em;
        padding: 0px;
    }
    label.file-btn {
        width: 100px;
        left: calc(75% - 50px);
    }
    .window {
        padding: 3px;
    }
    .toolbar {
        font-size: 0.7em;
        height: 1.3em;
        padding: 3px;
    }
    .toolbar-btn {
        font-size: 0.7em;
        height: 1em;
        right: 7px;
    }
    #about {
        width: 150px;
        height: 100px;
    }
    #about iframe {
        width: 145px;
        height: 75px;
    }
    #help {
        width: 300px;
        height: 200px;
    }
    #help iframe {
        width: 295px;
        height: 175px;
    }
}