:root {
    --main-font-family: serif;
    --main-color: black;
    --main-bgcolor: white;
    --main-bgimg: none;
    --main-bgsize: auto 100%;
    --menu-bgcolor: white;
    --menu-bgimg: none;
    --menu-bgsize: auto 100%;
    --menu-border-width: 1px;
    --menu-border-style: solid;
    --menu-border-color: skyblue;
    --menu-border-radius: 10px;
    --window-toolbar-bgcolor: white;
    --window-toolbar-bgimg: none;
    --window-toolbar-bgsize: 100% auto;
    --window-toolbar-button-color: black;
    --window-bgcolor: #fafafa;
    --window-bgimg: none;
    --window-bgsize: 100% auto;
    --window-border-width: 0px;
    --window-border-style: none;
    --window-border-color: black;
    --audio-fileupload-bgcolor: skyblue;
    --window-toolbar-close-color: black;
    --colorselector-selected-color: orange;
}

textarea {
    width: calc(100% - 20px);
    height: 200px;
    border-radius: 2px;
    font-family: consolas monospace;
    font-size: 14px;
    transition: all 0.3s;
    resize: none;
    border-style: solid;
}

* {
    user-select: none;
    margin: 0px;
    padding: 0px;
}

.select {
    display: inline-block;
    position: relative;
    border-radius: 0px;
    color: black;
    outline: none;
    -webkit-tap-highlight-color: transparent;
}

.select:focus .select-content{
    display: block;
}

.select-title {
    font-size: 0.87em !important;
    padding-left: 5px;
    display: inline-block;
    background-color: #f5f5f5;
    width: 40px;
    border: 1px solid gray;
}

.select-arrow {
    display: inline-block;
    position: absolute;
    right: 5px;
    bottom: 3px;
}

.select-content {
    width: 80px;
    display: none;
    position: absolute;
    background-color: white;
    box-shadow: 0px 0px 5px gray;
}

.option {
    padding-left: 5px;
    line-height: 1.4em;
}

.option:not(.option-selected):hover {
    background-color: #dadada;
}

.option-selected {
    background-color: #aaaaaa;
}

textarea:focus {
    outline: none;
    border-color: skyblue;
}

.button {
    cursor: pointer;
    display: inline-block;
    background-color: #f5f5f5;
    padding: 1px 10px;
    border: 1px #565656 solid;
    font-size: 0.8em !important;
    margin-right: 10px;
}

.button * {
    vertical-align: baseline !important;
}

html.root {
    overflow: hidden;
    touch-action: none;
}

body,html {
    height: 100%;
}

input[type=file] {
    display: none;
    /*opacity: 0;*/
    position: absolute;
    background-color: var(--audio-fileupload-bgcolor);
}

input[type=range] {
    width: 100%;
    opacity: 1.0;
}

input[type=color] {
    opacity: 0.0;
    width: 0px;
    height: 0px;
    position: absolute;
}

input[type=radio] {
    width: 1.2em;
    height: 1.2em;
}

.inline {
    display: inline-block;
}

.disabled {
    pointer-events: none;
    opacity: 0.5;
}

.ellipsis {
    margin-left: 1px;
    vertical-align: baseline !important;
}

.hide {
    display: none !important;
}

.show {
    display: block;
}

iframe {
    border: none;
    width: calc(100% - 5px);
    height: calc(100% - 15px);
}

label {
    display: inline-block;
}

.file-btn {
    cursor: pointer;
    position: absolute;
    top: 10px;
    background-color: var(--audio-fileupload-bgcolor);
    text-align: center;
    padding: 0.15em;
    width: 30%;
    left: calc((100% - 30% - 0.3em) / 2);
}

body {
    margin: 0px;
}

.showwindow {
    cursor: pointer;
    display: table;
}

.container {
    display: block;
    background-color: var(--menu-bgcolor);
    position: absolute;
    display: block;
    left: calc((100% - 80% - 20px) / 2);
    bottom: 20px;
    width: 80%;
    border-width: var(--menu-border-width);
    border-color: var(--menu-border-color);
    border-style: var(--menu-border-style);
    border-radius: var(--menu-border-radius);
    background-image: var(--menu-bgimg);
    background-size: var(--menu-bgsize);
    background-repeat: no-repeat;
    /*transition: all 0.5s;*/
    padding: 10px;
}

.left-entry, .center-entry, .right-entry {
    display: inline-block;
}

.right-entry {
    position: absolute;
    right: 3px;
}
/*.container:hover {
    box-shadow: 0px 7px 3.5px gray;
}*/
.control {
    position: absolute;
    width: 55px;
    height: 55px;
    display: inline-block;
    -webkit-tap-highlight-color: transparent;
}

.left-top {
    left: 0px;
    top: 0px;
}

.right-top {
    right: 0px;
    top: 0px;
}

.left-bottom {
    left: 0px;
    bottom: 0px;
}

.right-bottom {
    right: 0px;
    bottom: 0px;
}

.icon-btn {
    cursor: pointer;
    display: inline-block;
    font-size: 1.3em;
    width: 1.3em;
    margin-right: 5px;
}

#main {
    font-family: var(--main-font-family);
    background-color: var(--main-bgcolor);
    color: var(--main-color);
    background-image: var(--main-bgimg);
    background-size: var(--main-bgsize);
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
}

#about {
    width: 200px;
    height: 150px;
}

#help {
    width: 400px;
    height: 300px;
}

.window {
    width: 500px;
    height: 400px;
}

.window {
    position: fixed;
    background-image: var(--window-bgimg);
    background-size: var(--window-bgsize);
    background-color: var(--window-bgcolor);
    display: none;
    box-shadow: 0px 0px 7.5px gray;
    background-color: var(--window-bgcolor);
    border-width: var(--window-border-width);
    border-style: var(--window-border-style);
    border-color: var(--window-border-color);
}

.colorpicker {
    display: inline-block;
    width: 1em;
    height: 1em;
    border-radius: 5px;
    margin-right: 6px;
    margin-top: 2px;
    color: #dddddd;
    /*transition: box-shadow 0.6s;*/
}

.selected {
    box-shadow: 0 0 0 1px white, 0 0 0 3px var(--colorselector-selected-color);
    /*outline-style: solid;
    outline-width: 2px;
    outline-color: orange;*/
}

.selector {
    margin-top: 5px;
    font-size: 12px;
    margin-left: 10px;
}

.selector * {
    vertical-align: top;
}

/*.bgcolorpicker:hover {
    box-shadow: 0px 2px 1px lightgray;
}*/
.fullscreen {
    width: 100% !important;
    height: 100% !important;
    top: 0px !important;
    left: 0px !important;
}

.fullscreen .toolbar {
    cursor: default !important;
}

.toolbar {
    /* cursor: grab; */
    font-size: 1em;
    position: absolute;
    padding: 3px 5px 5px 5px;
    left: 0px;
    top: 0px;
    height: 1em;
    width: calc(100% - 10px);
    background-color: var(--window-toolbar-bgcolor);
    background-image: var(--window-toolbar-bgimg);
    background-size: var(--window-toolbar-bgsize);
}

.toolbarbuttons {
    display: inline-block;
    position: absolute;
    right: 6px;
}

.toolbar-btn  {
    cursor: pointer !important;
    width: 25px;
    display: inline-block;
    text-align: center;
    color: var(--window-toolbar-button-color);
}

.close {
    transition: all 0.3s;
    color: var(--window-toolbar-close-color) !important;
}

.close:hover {
    background-color: red;
    color: white !important;
}

.window-title {
    width: 100%;
    font-weight: bold;
}

.content {
    /*padding: 2px 10px 0px 10px;*/
    margin: 32px 10px 0px 10px;
    overflow-x: hidden;
    overflow-y: auto;
    touch-action: pan-y;
    height: calc(100% - 40px);
    /*max-height: 350px;*/
    padding: 0px !important;
}

.regular {
    font-size: 0.8em;
    padding: 5px 0px;
}

.large {
    font-size: 16px;
    font-weight: bold;
}

.subtitle {
    color: #222222;
    font-size: 14px;
    line-height: 16px !important;
    display: block;
}

ol {
    font-size: 0.8em;
}

.details {
    font-weight: 200;
    font-size: 0.75em;
}

.tab {
    margin-bottom: 10px;
}

.style-box {
    cursor: pointer;
    transition: all 0.18s;
    display: inline-table;
    margin: 10px;
    width: 200px;
    height: 223.6px;
    background-color: lightgray;
    border-radius: 8px;
}

.style-image {
    border-radius: 8px;
    width: 100%;
    height: 120px;
    background-size: 100% auto;
    background-repeat: no-repeat;
}

.style-description {
    padding: 10px;
}

.style-details {
    word-break: break-all;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    line-clamp: 2;
    -webkit-line-clamp: 2;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 20.8px;
    font-size: 16px;
}

.style-title {
    word-break: break-all;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    line-clamp: 2;
    -webkit-line-clamp: 2;
    overflow: hidden;
    text-overflow: ellipsis;
    font-weight: bold;
    font-size: 24px;
    line-height: 26px;
}

.style-box:hover {
    box-shadow: 0px 5px 0px gray;
    background-color: #ebebeb;
    transform: scale(1.04);
}

.section {
    position: relative;
}

.right {
    display: inline-block;
    position: absolute;
    right: 10px;
    top: 0px;
}

@media only screen and (max-width: 520px) {
    .container {
        width: 95%;
        font-size: 0.75em;
        padding: 5px;
        left: calc((100% - 95% - 10px) / 2);
    }

    .icon-btn {
        width: 1em;
        padding: 0px;
        margin-right: 5px;
    }

    .file-btn {
        top: 6px;
        width: 26%;
        padding-left: 1px;
        padding-right: 1px;
        left: calc((100% - 26% - 2px) / 2)
    }

    #about {
        width: 200px;
        height: 150pxj;
    }

    #help {
        width: 300px;
        height: 200px;
    }

    .window {
        width: 300px;
        height: 300px;
    }
}

@media only screen and (min-width: 520px) and (max-width: 700px) {
    .container {
        width: 85%;
        left: calc((100% - 85% - 20px) / 2);
    }

    .container.icon-btn {
        font-size: 1em;
        width: 1em;
        margin-right: 5px;
    }
}

@media only screen and (max-width: 370px) {
    .icon-btn {
        width: 0.85em;
        padding: 0px;
        margin-right: 1px;
    }
}

@media only screen and (max-width: 400px) {
    .maximum {
        display: none;
    }
}

@media only screen and (max-height: 500px) {
    .maximum {
        display: none;
    }
}